html {
    overflow: hidden;
    height: 100%;

}

header {
  text-align: center;
  padding-top: 20px;
}

body {
  background: url(/images/cityscape.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  height: 100%;
  overflow: auto;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  text-align: center;
  color: white;
}
/* .shadowText {
   color: lightgray;
   font-size: 18px;
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   text-align: center;
 }*/

 .cover {
  height: 402px;
  width: 279px;
}
.title-entry{
  text-align: center;
}

#header-signin{
	margin-left: 70%
}

#logo{
	height: 40px;
	width: 40px;
  padding-bottom: 20px;
}
.results-container{
  padding: 10px;
}

.search-result{
  padding: 15px;
  text-align: center;
  width: 300px;
  background-color: rgba(50, 50, 50, 0.75);
  border-radius: 10px;
  font-size: 1.5em;
  
}

.result-thumb{
  padding: 5px;
}

.individual{
  padding: 10px;
  background-color: rgba(211, 211, 211, 0.75);
  width: 1000px;
  margin: 0 auto;
  border-radius: 1em;
  font-size: 1.5em;
  overflow: auto;
  word-spacing: 2px;
 }
 
 hr{
    border: 2px solid black;
/*    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;*/
 }
.individual-thumb{
  float: left;
  padding: 10px;
  border-radius: 2em;
  height: 350px;
  width: 250px;
}

.individual-title{
  padding: 10px;
  font-size: 2em;
  font-weight: bolder;
}

.individual-text-wrapper{
  
}

.review-wrapper{
  float: left;
}

.review-button{
    background-color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #888888
}


