<div ng-controller='IndivController'>

  <div ng-show="work.type === 'Books'">
  <section id="results" class="individual">
    
    <a ng-href="{{work.bookData.infoLink}}"><img class="individual-thumb" ng-src="{{work.thumbnail}}"></a>
    <p class="individual-tags">Tags: {{work.tag}}</p>
    <br></br>
    <p class="individual-title">{{work.title}}</p>
    <p class="individual-author">Author(s): {{work.author}}</p>
    <p class="individual-publisher">Publisher: {{work.publisher}}</p>
    
    <p class="individual-description">Description: {{work.description}}</p>

    <div ng-click='toggleBeans=!toggleBeans'>Write a review</div>

    <form ng-show='toggleBeans' ng-submit='postReview()'>
      <input type='text' ng-model='userName' placeholder='Your Name'/>
      <input type='text' ng-model='writeTitle' placeholder='Title of Review'/>
      <textarea ng-model='writeBody' placeholder='Type Here...'></textarea>
      <button type='submit'>Submit Review</button>
    </form>
    <div ng-click='booBeans=!booBeans'>User Reviews</div>
    <div id='allReviews' ng-show='booBeans'>
      <div ng-repeat="rev in allReviews">
        <div>{{ rev.username }}</div>
        <div>{{ rev.reviewtitle }}</div>
        <div>{{ rev.reviewbody }}</div  >
      </div>
    </div>
  </div>
  </section>

</div>



</div>